name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: app_test
          POSTGRES_USER: app
          POSTGRES_PASSWORD: app
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U app"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      APP_ENV: test
      DATABASE_URL: postgresql://app:app@127.0.0.1:5432/app_test?serverVersion=16&charset=utf8
      JWT_PASSPHRASE: ${{ secrets.JWT_PASSPHRASE }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          tools: composer
          extensions: intl, pdo_pgsql, zip

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Create JWT keys from secrets
        run: |
          mkdir -p config/jwt
          echo "${{ secrets.JWT_PRIVATE_KEY }}" > config/jwt/private.pem
          echo "${{ secrets.JWT_PUBLIC_KEY }}" > config/jwt/public.pem
          chmod 600 config/jwt/private.pem

      - name: Create database & run migrations
        run: |
          php bin/console doctrine:database:create --if-not-exists --env=test
          php bin/console doctrine:migrations:migrate --no-interaction --env=test

      - name: Run tests
        run: php bin/phpunit
